{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}
{% block meta_title %}关于BKNews{% endblock %}
{% block title %}关于BKNews{% endblock %}
{% block main %}

<span>
    保险科技的发展与金融科技息息相关，保险科技曾牢牢根植于金融科技的土壤，现有的保险
        科技发展的方式得益于几个事实。首先，随着保险业的发展壮大，市场投向保险科技的目光较之
        过去有了极大的增长；其次，金融危机的蔓延使得大金融机构不得不回归主业，初创企业、科技公
        司逐渐成为金融科技和保险科技的主导者；最后，世界经济论坛的报告指出，面对科技的高速发展
        和替代，在大金融体系下，保险业将承受最大的冲击。这使得保险科技在保险公司、科技企业和初
        创企业的发展规划和布局战略中占有极为重要的位置。
</span>
<br/>
<br/>
<span>
    本网站旨在提供最新的关于保险科技的资讯，供大家交流和分享。
</span>
{% endblock %}
